<h1>ショッピングカート</h1>
<div>
  <% if !@cart_items.empty? %>
      <%= render'cart_list' %>
  <% else %>
  <div>
    <h2>カートに商品が入っておりません。</h2>
    <h2>引き続きお買い物をお楽しみください。</h2>
    <h2><%=link_to "商品一覧", products_path, class:"btn btn-primary"%></h2>
  </div>
  <% end %>
</div>
