// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart{
  overflow: hidden;
}
.cart_btn{
  width:400px;
  text-align:center;
}
