// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_form{
  margin-bottom: 50px;
}
.products{
  width:100%;
}
.product{
  display: inline-block;
  margin: 16px 8px;
  width: 30%;
}

.content_image{
  max-width: 198px;
  max-height: 198px;
}

.goodsLeft{
  width: 650px;
  height: 650px;
  float: left;
  z-index: 30;
  position: relative;
}

.Photo{
  width: 600px;
  height: 600px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.goodsRight{
  float: right;
  margin: 0;
  width: 450px;
  position: relative;
}
.goods{
  margin-top: 100px;
  overflow:auto;
}
