<h1>商品一覧</h1>
<div class="search_form">
  <%= render 'search_form' %>
</div>
<div class="products_list">
  <%= render 'products' %>
</div>
  <div class="text-center">
    <%= will_paginate @products %>
  </div>
</div>
